$breakpoints: (
	small: 600px,
	medium: 900px,
	hd: 2000px
);

@mixin breakpoint($bp) {
	@if (map-has-key($breakpoints, $bp) == false) {
		@error "#{$bp} is not a valid breakpoint.";
	}

	@media (min-width: map-get($breakpoints, $bp)) {
		@content;
	}
}
