@import 'themes';

:root {
	--container-width: 1200px;

	/* Colors */
	--color-white: #fdfffc;
	--color-white-2: #f0f4f8;
	--color-gray: #d9e2ec;
	--color-dark-gray: #243b53;
	--color-black: #0a1624;
	--color-copper: #c06e52;
	--color-green: #26532b;
	--color-light-greed: #399e5a;
	--color-purple: #22031f;

	--mtg-white-dark: #fffffa;
	--mtg-blue-dark: #3c91e6;
	--mtg-black-dark: #2c1320;
	--mtg-red-dark: #bf211e;
	--mtg-green-dark: #426a5a;

	--mtg-white-light: #f8f6d8;
	--mtg-blue-light: #c1d7e9;
	--mtg-black-light: #bab1ab;
	--mtg-red-light: #e49977;
	--mtg-green-light: #a3c095;

	/* Fonts */

	--font-title: sofia-pro, sans-serif;
	--font-primary: proxima-nova, sans-serif;

	/* Themes */

	@include use-theme(default);

	--mtg-white: var(--mtg-white-light);
	--mtg-blue: var(--mtg-blue-light);
	--mtg-black: var(--mtg-black-light);
	--mtg-red: var(--mtg-red-light);
	--mtg-green: var(--mtg-green-light);
}

@media (prefers-color-scheme: dark) {
	:root {
		@include use-theme(dark);
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--color-background);
	font-size: 18px;
	color: var(--color-text);
	font-family: var(--font-primary);
	font-weight: 300;
}

h1,
h2,
h3 {
	font-family: var(--font-title);
}

a {
	color: var(--color-link);
}

main {
	padding: 1rem;
	max-width: var(--container-width);
	margin: 0 auto 12rem;
}
