---
import type { MenuItem } from 'src/models/menu';
import Logo from '../svg/Logo.astro';
import NavList from './NavList.astro';

const menu: MenuItem[] = [
  {
    path: '/',
    label: 'Home',
  },
  {
    path: '/about',
    label: 'About',
  },
];
---

<header class="header">
  <div class="header-wrap">
    <h1 class="header-brand">
      <a href="/">
        <div class="header-logo">
          <Logo />
        </div>
      </a>
    </h1>
    {
      menu && (
        <nav class="nav">
          <NavList {menu} />
        </nav>
      )
    }
  </div>
</header>

<script>
  document.addEventListener('scroll', () => {
    const header = document.querySelector('.header');
    header?.classList.toggle('scrolled', window.scrollY > 48);
  });
</script>

<style lang="scss">
  @use 'src/styles/mixins';
  $transition-duration: 200ms;

  .header {
    position: sticky;
    transition: margin $transition-duration;
    top: 0;
    background: var(--color-background);
    z-index: 90;
    &-wrap {
      max-width: var(--container-width);
      margin: auto;
      padding: 0 1rem;
      text-align: center;
      @include mixins.breakpoint(small) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
      }

      .nav {
        display: none;
        @include mixins.breakpoint(small) {
          display: block;
          position: relative;
        }
      }
    }
    &-brand {
      margin: 0;
      transition: font-size $transition-duration;
      padding: 0.5em 0;
      font-size: 1.2em;
      a {
        display: block;
      }
      @include mixins.breakpoint(small) {
        font-size: 2em;
      }
    }
    &-logo {
      width: 4em;
      display: block;
      margin: auto;
    }

    @include mixins.breakpoint(small) {
      &.scrolled {
        margin-bottom: 2.72em;
        .header-brand {
          font-size: 1.2em;
        }

        :global(.nav-item-root) {
          font-size: 0.85em;
        }
      }
    }
  }
</style>
